html {
  background-image: url("img/background.jpg");
} 
body {
  padding: 1em;
  background-color: #FFFFFF; 
  margin: 50px;
}
.templates {
  display: none; 
}
.filter {
  margin-bottom: 0.5em;
}
.template.qualifier {
  display: inline-block;
}
#results {
  margin: 1em auto;
  border-collapse: collapse;
}
#results th, #results td {
  padding: 0.2em 0.5em;
}
#results tr:nth-child(odd) {
  background-color: #71A9D6;
}
input[type="submit"], 
input[type="reset"], 
input[type="button"], 
button {
	padding: 0.5em 1em;
}
input.err {
  color: red;
}